In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
                    {"a" : [4, 5, 6],
                     "b" : [7, 8, 9],
                     "c" : [10, 11, 12]},
                     index = [1, 2, 3])

In [3]:
df = (pd.melt(df).rename(columns={'variable':'var',
                                  'value':'val'}).query('val >= 7'))

In [4]:
df

  var  val
3   b    7
4   b    8
5   b    9
6   c   10
7   c   11
8   c   12