In [1]:
import pandas as pd

### melt()

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [85, 72, 90],
    'Physics': [78, 90, 82],
    'Chemistry': [92, 88, 78]
}

df = pd.DataFrame(data)
print(df)

      Name  Math  Physics  Chemistry
0    Alice    85       78         92
1      Bob    72       90         88
2  Charlie    90       82         78

In [3]:
melted_df = pd.melt(df, id_vars=['Name'], var_name='Subject', value_name='Score')
print(melted_df)

      Name    Subject  Score
0    Alice       Math     85
1      Bob       Math     72
2  Charlie       Math     90
3    Alice    Physics     78
4      Bob    Physics     90
5  Charlie    Physics     82
6    Alice  Chemistry     92
7      Bob  Chemistry     88
8  Charlie  Chemistry     78

### concat()

In [4]:
import pandas as pd

# Create two sample DataFrames
data1 = {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}
df1 = pd.DataFrame(data1)

data2 = {
    'A': [7, 8, 9],
    'B': [10, 11, 12]
}
df2 = pd.DataFrame(data2)

# Concatenate along rows (axis=0)
concatenated_df = pd.concat([df1, df2], axis=0)

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)
print("\nConcatenated DataFrame:")
print(concatenated_df)

DataFrame 1:
   A  B
0  1  4
1  2  5
2  3  6

DataFrame 2:
   A   B
0  7  10
1  8  11
2  9  12

Concatenated DataFrame:
   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

### pivot()

In [5]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two','two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6],
                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [6]:
df.pivot(index='foo', columns='bar', values='baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6