In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
                    {"a" : [4, 5, 6],
                     "b" : [7, 8, 9],
                     "c" : [10, 11, 12]},
                     index = [1, 2, 3])

In [3]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

### Count number of rows with each unique value of variable.

In [4]:
df['a'].value_counts()

4    1
5    1
6    1
Name: a, dtype: int64

### # of rows in DataFrame.

In [5]:
len(df)

3

### Tuple of # of rows, # of columns in DataFrame.

In [6]:
df.shape

(3, 3)

### # of distinct values in a column.

In [7]:
df['a'].nunique()

3

### Basic descriptive and statistics for each column (or GroupBy).

In [8]:
df.describe()

         a    b     c
count  3.0  3.0   3.0
mean   5.0  8.0  11.0
std    1.0  1.0   1.0
min    4.0  7.0  10.0
25%    4.5  7.5  10.5
50%    5.0  8.0  11.0
75%    5.5  8.5  11.5
max    6.0  9.0  12.0

### Sum values of each object.

In [9]:
df.sum()

a    15
b    24
c    33
dtype: int64

### Count non-NA/null values of each object.

In [10]:
df.count()

a    3
b    3
c    3
dtype: int64

### Median value of each object.

In [11]:
df.median()

a     5.0
b     8.0
c    11.0
dtype: float64

### Quantiles of each object.

In [12]:
df.quantile()

a     5.0
b     8.0
c    11.0
Name: 0.5, dtype: float64

### Apply function to each object.

In [13]:
def sum_one(x):
    return x + 1

df.apply(sum_one)

   a   b   c
1  5   8  11
2  6   9  12
3  7  10  13

### Minimum value in each object.

In [14]:
df.min()

a     4
b     7
c    10
dtype: int64

### Maximum value in each object.

In [15]:
df.max()

a     6
b     9
c    12
dtype: int64

### Mean value of each object.

In [16]:
df.mean()

a     5.0
b     8.0
c    11.0
dtype: float64

### Variance of each object.

In [17]:
df.var()

a    1.0
b    1.0
c    1.0
dtype: float64

### Standard deviation of each object.

In [18]:
df.std()

a    1.0
b    1.0
c    1.0
dtype: float64