In [1]:
import pandas as pd

### drop()

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28],
    'Gender': ['Female', 'Male', 'Male', 'Male']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Drop row with index 2
df_dropped_row = df.drop(2)
print("\nDataFrame after dropping row with index 2:")
print(df_dropped_row)

# Drop the "Age" column
df_dropped_column = df.drop('Age', axis=1)
print("\nDataFrame after dropping 'Age' column:")
print(df_dropped_column)

Original DataFrame:
      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   22    Male
3    David   28    Male

DataFrame after dropping row with index 2:
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
3  David   28    Male

DataFrame after dropping 'Age' column:
      Name  Gender
0    Alice  Female
1      Bob    Male
2  Charlie    Male
3    David    Male

### Extract rows that meet logical criteria

In [3]:
# Create a dictionary with integer data
data = {
    'Column1': [12, 45, 67, 23, 89, 34, 56, 78, 90, 31],
    'Column2': [56, 78, 32, 90, 12, 54, 76, 98, 21, 43]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

# Filter by criteria
df[df.Column1 > 60]

   Column1  Column2
0       12       56
1       45       78
2       67       32
3       23       90
4       89       12
5       34       54
6       56       76
7       78       98
8       90       21
9       31       43

   Column1  Column2
2       67       32
4       89       12
7       78       98
8       90       21

### drop_duplicates()

In [4]:
data = {
    'Column1': [1, 2, 3, 4, 5, 1, 2, 3, 4, 5],
    'Column2': [6, 7, 8, 9, 10, 6, 7, 8, 9, 10]
}

print("Original DataFrame")
df = pd.DataFrame(data)
print(df)

df = df.drop_duplicates()
print("\nDataFrame without duplicates")
print(df)

Original DataFrame
   Column1  Column2
0        1        6
1        2        7
2        3        8
3        4        9
4        5       10
5        1        6
6        2        7
7        3        8
8        4        9
9        5       10

DataFrame without duplicates
   Column1  Column2
0        1        6
1        2        7
2        3        8
3        4        9
4        5       10

### sample()

In [5]:
data = {
    'Column1': [1, 2, 3, 4, 5, 1, 2, 3, 4, 5],
    'Column2': [6, 7, 8, 9, 10, 6, 7, 8, 9, 10]
}

print("Original DataFrame")
df = pd.DataFrame(data)
print(df)

df = df.sample(frac=0.2)
print("\nGet a fraction from the original DataFrame")
print(df)

Original DataFrame
   Column1  Column2
0        1        6
1        2        7
2        3        8
3        4        9
4        5       10
5        1        6
6        2        7
7        3        8
8        4        9
9        5       10

Get a fraction from the original DataFrame
   Column1  Column2
1        2        7
2        3        8