In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
                    {"Height" : [4, 5, 6],
                     "Length" : [7, 8, 9],
                     "Depth"  : [10, 11, 12]
                     },
                     index = [1, 2, 3])

In [3]:
df

   Height  Length  Depth
1       4       7     10
2       5       8     11
3       6       9     12

### Compute and append one or more new columns.

In [4]:
df.assign(Area=lambda df: df.Length*df.Height)

   Height  Length  Depth  Area
1       4       7     10    28
2       5       8     11    40
3       6       9     12    54

In [5]:
df['Volume'] = df.Length*df.Height*df.Depth

In [6]:
df

   Height  Length  Depth  Volume
1       4       7     10     280
2       5       8     11     440
3       6       9     12     648