### groupby(by="col")

In [1]:
import pandas as pd

# Sample data
data = {
    'Date': ['2023-08-01', '2023-08-01', '2023-08-02', '2023-08-02', '2023-08-03'],
    'Product': ['A', 'B', 'A', 'C', 'B'],
    'Amount': [100, 150, 200, 75, 120]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

Original DataFrame:
         Date Product  Amount
0  2023-08-01       A     100
1  2023-08-01       B     150
2  2023-08-02       A     200
3  2023-08-02       C      75
4  2023-08-03       B     120

In [2]:
# Grouping by the "Product" column and aggregating with sum()
grouped = df.groupby(by='Product').sum()

print("\nGrouped DataFrame:")
print(grouped)

Grouped DataFrame:
                         Date  Amount
Product
A        2023-08-012023-08-02     300
B        2023-08-012023-08-03     270
C                  2023-08-02      75

### groupby(level="index")

In [3]:
index = pd.MultiIndex.from_tuples([('Store1', 'Location1'),
                                   ('Store1', 'Location2'),
                                   ('Store1', 'Location3'),
                                   ('Store2', 'Location1'),
                                   ('Store2', 'Location2')],
                                 names=['Store', 'Location'])

df = pd.DataFrame(data, index=index)

print("Original Multi-index DataFrame:")
print(df)

Original Multi-index DataFrame:
                        Date Product  Amount
Store  Location
Store1 Location1  2023-08-01       A     100
       Location2  2023-08-01       B     150
       Location3  2023-08-02       A     200
Store2 Location1  2023-08-02       C      75
       Location2  2023-08-03       B     120