In [1]:
import pandas as pd

In [2]:
adf = pd.DataFrame(
                    {"x1" : ['A', 'B', 'C'],
                     "x2" : [1, 2, 3]
                     }
)

In [3]:
bdf = pd.DataFrame(
                    {"x1" : ['A', 'B', 'D'],
                     "x3" : ['T', 'F', 'T']
                     }
)

In [4]:
pd.merge(adf, bdf, how='left', on='x1')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [5]:
pd.merge(adf, bdf, how='right', on='x1')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T