In [1]:
import lxml
import pandas as pd

In [2]:
# read_html method
df = pd.read_html('https://en.wikipedia.org/wiki/Poverty')
df[1]

                            Region $2.15 per day[103]                       \
                            Region               1981   1990   2000   2010
0            East Asia and Pacific              83.5%  65.8%  39.5%  13.3%
1          Europe and Central Asia                  —      —   9.1%   4.1%
2  Latin America and the Caribbean              15.1%  16.8%  13.5%   6.4%
3     Middle East and North Africa                  —   6.5%   3.5%   1.9%
4                       South Asia                58%  49.8%      —    26%
5               Sub-Saharan Africa                  —  53.8%  56.5%  42.2%
6                            World              43.6%  37.9%  29.3%  16.3%


    2018   2019
0   1.6%   1.2%
1   2.3%   2.3%
2   4.3%   4.3%
3   9.6%      —
4  10.1%   8.6%
5  35.4%  34.9%
6     9%   8.5%